{% extends "main/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="row" style="margin-top:60px">
	<table class="table table-hover card-block col-md-10 offset-1 table-striped table-bordered table-sm">
		<thead class="thead-dark">
			<th scope="col" >#</th>
			<th scope="col">Name</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</thead>
		<tbody>
		{% for sts in data %}
		<tr>
			<th scope="row"><a href="/status/detail/{{sts.id}}"></a>{{sts.id}}</th>
			<td>{{sts.name}}</td>
			<td><a href="/status/edit/{{sts.id}}"><span class="badge badge-warning">Edit</span></a></td>
			<td><a href="/status/delete/{{sts.id}}"><span class="badge badge-danger">Delete</span></a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<hr>
	<div class="row justify-content-center col-12" style="bottom: 10px">
		{% include "main/pagination.html" with page=data %}
	</div>
</div>
{% endblock %}